# server settings
server:
  port: 9042
  session:
    cookie:
      name: GN-TDCSESSIONID
      max-age: 86400
  tomcat:
    accesslog:
      enabled: true
      directory: /var/log/gn

# without flyway, we need to enable DDL initialization via Spring
spring.datasource:
  #url: jdbc:h2:mem:tccdb;DB_CLOSE_DELAY=-1
  url: jdbc:mysql://{{ getenv "TCC_TXSQL_SERVER" "localhost" }}:{{ getenv "TCC_TXSQL_PORT" "3306" }}/{{ getenv "TCC_TXSQL_DB" "tcc"}}?useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
  username: {{ getenv "TCC_TXSQL_USERNAME" "root" }}
  password: {{ getenv "TCC_TXSQL_PASSWORD" "123456" }}
# flyway integration
management.security.enabled: false
spring.jpa.hibernate.ddl-auto: validate

tdc:
  service:
    location: {{ getenv "GN_TDC_SERVER_URL"  "" }}


# the cluster address use for calling wormhole service
k8s.cluster.address: {{ getenv "K8S_CLUSTER_ADDRESS" "default" }}

# app settings
spring.application.name: "gn-tdc-server"

# thymeleaf settings
spring.thymeleaf.mode: LEGACYHTML5


public.app.prefix: {{ getenv "TCC_SERVER_PUBLIC_URL" "" }}

# cas settings
# the `server` means the server which performs user authentication
# the `client` means the application side which receives authentication
cas:
  server:
    prefix: "${proxy.cas.prefix}"
    login: "${proxy.cas.prefix}/login"
    logout: "${proxy.cas.prefix}/logout"
  client:
    home: "${proxy.app.prefix}"
    login-path: "/api/v1/login"
    logout-path: "/api/v1/logout"
    proxy-path: "/api/v1/proxyreceptor"

# logging setting
logging.level:
  root: INFO

# jmx
jmx.rmi.host: localhost
jmx.rmi.port: 8028
jmx.rmi.enabled: false

kafka:
  consumer:
    bootstrap-servers: {{ getenv "NOTIFICATION_KAFKA_URL" "" }}
    group: gn-tdc

instance:
  # the minimum node number of creating a instance
  minNodes: 3
  # the maximum node number of creating a instance
  maxNodes: 100

flyway:
  baseline-on-migrate: true

endpoints:
  trace:
    enabled: true
    sensitive: false
  prometheus:
    sensitive: false
