<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>
<configuration>
    <property>
        <name>guardian.server.address</name>
        <value>{{ getenv "GUARDIAN_SERVER_URL" "unknownhost:8380" }}</value>
    </property>
    <property>
        <name>guardian.connection.username</name>
        <value>{{ getenv "GUARDIAN_USERNAME" "admin" }}</value>
    </property>
    <property>
        <name>guardian.connection.password</name>
        <value>{{ getenv "GUARDIAN_PASSWORD" "123" }}</value>
    </property>
    <property>
        <name>guardian.connection.client.impl</name>
        <value>REST</value>
    </property>
    <property>
        <name>guardian.client.cache.enabled</name>
        <value>true</value>
    </property>
    <property>
        <name>guardian.server.tls.enabled</name>
        <value>{{ getenv "GUARDIAN_SERVER_TLS_ENABLED" "true" }}</value>
    </property>
</configuration>